li.dropdown.dropdown.dropdown-help.dropdown-mobile {
	display: none!important;
}
.btn-primary.primary-action {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
	font-weight: bold;

}
.btn .btn-primary .btn-sm .primary-action {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
	font-weight: bold;

}
.btn-primary {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
	font-weight: bold;
}

.btn-modal-primary {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
	font-weight: bold;

}

.section-head {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #1195ea !important;
	padding: 4px !important;
	border-radius: 5px;
	font-weight: bold;
}

.widget-group-title {
	background-image: linear-gradient(to left, rgb(241 231 231 / 0%), rgb(38 233 249 / 54%)) !important;
    color: #4763e2 !important;
	border-radius: 5px;
	font-weight: bold;
}

.navbar {
	/* background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(219 9 9)); */
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%));
}

.widget {
	/* background-image: linear-gradient(to right, rgb(204 204 204), rgb(255 255 255)) !important; */
}
