.footer-powered{
	display: none!important;
}

.btn-primary {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
	font-weight: bold;

}

.section-head {
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #1195ea !important;
	border-radius: 5px;
	font-weight: bold;



}
.login-content{
    /* background: #a3a1a166 !important; */
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #1195ea !important;
}

.btn-login-area {
	color: #09f1e2e3 !important;
    font-style: revert !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.footer-col-left, .navbar-brand{
    color: #0963f1e3 !important;
    font-style: revert !important;
    font-weight: bold !important;
    font-size: 20px !important;
}