* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
	background-image: linear-gradient(to right, rgb(57 244 236 / 29%), rgb(7 48 226 / 83%)) !important;
    color: #32feff !important;
    border-radius: 16px;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h4 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	margin-bottom: 3%;
}
.welcome-text h4 span {
	color: #00fecb;
}
.welcome-text a {
	color: #0730d1;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 20px;
    border: 1px solid #031db4;
    background-image: linear-gradient(to right, rgb(255 0 0 / 0%), rgb(219 9 9));
    border-radius: 16px;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h4 {
		font-size: 30px;
	}
}


.login_details {
    margin-top: 9%;
    z-index: 100;
    position: absolute;
    margin-left: 5%;
}

.users {
    background: #d9ecff;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #077007;
}

.uservalue {
    color: #b00404;
    font-weight: 100;
}
.passwordvalue {
    color: #b00404;
    font-weight: 100;
}